# Ignore everything by default
*

# Don't ignore directories
!*/

# Include specific files by extension
!/*.gitignore
!/*.md
!/*.sh
!/*.py
!/*.conf
!/src/*.md
!/src/post.html
!/src/posts/*.md
!/src/css/*.css
!/src/assets/*.*
